#button_rule{
       /*border:solid 1px;*/
       overflow:auto;
       margin-bottom: 10px;
   }

#div_action{
  margin-top: 5 px;
}
#div_conditions{
  border: double 0px;
  border-color: red;
}
.button_rule {
      background: #142b55;
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      border-color: #142b55;
      font-family: Arial;
      color: #ffffff;
      left: 100px;
      font-size: 14px;
      padding: 6px 7px 4px 4px;*/
      text-decoration: none;
      /*margin-top: 150px;*/
      margin-bottom: 15px;
  }
.container_rules{
  padding-top: 100px;
  padding-bottom: 100px
  margin-top: 100px !important;

}
#padding_size{
  padding-top: 40px;
}

.select_rules_context{
    margin-top: 5px;
    margin-bottom: 5px;
}
