/.project
/a.sublimeproject
/application/config/database.php
/application/config/config.php
/lups.contextServer.sublime-workspace
/lups.contextServer.sublime-project
lups.contextServer.sublime-workspace
lups.contextServer.sublime-project
