.compara{	

	.center-box{
	  border: 2px solid $azul;
	  background-color: #fafafa;
	  margin-top: 50px;
	  margin-bottom: 50px;  
	  padding-top: 50px;
	  padding-bottom: 20px;
	}

	.submit{
		margin-top: 30px;
	}

}