.header{
  background-color: #142b55;
  background: url(../img/bgimg.jpg) center; 
  position: relative;
  background-size: cover;
  background-position: 0px -160px;

  .headermask{
    background-color: rgba(0,0,0,0.5); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .invisiblemenu{
    padding: 15px 0 36px 0;

    a{
      color: white;

      &:hover{
        color: white;
        text-decoration: none;
      }
    }

    .projectName {
      color: white;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      border-radius: 15px;
      border: 2px solid white;
      text-align: center;
      width: 112px;
      display: inline-block;
    }

    .session{
      text-align: right;

      .logar{
        color: white;
        font-size: 14px;
        border-radius: 3px;
        border: 2px solid white;
        text-align: right;
        display: inline-block;
        transition: .1s;

        a{
          padding: 0 15px;
        }

        &:hover{
          background-color: white;

          a{
            color: black;
          }
        }
      }

      .usuariologado{
        color: white;
        font-size: 14px;
        text-align: right;
        padding-right: 10px;
        display: inline-block;
      }

      .logout{
        display: inline-block;
        border-left: 1px solid white;
        padding-left: 10px;
        line-height: 35px;
        text-transform: uppercase;
      }
    }

    
  }

  .out-content{
    padding-bottom: 45px;
  }

  .app {
    color: white;
    font-size: 13px;
    margin-left: 10px;
    display: inline-block;

    &.ativo{
      font-weight: bold;
    }
  }
  
  .content{
    @include vcenter;

    a{
      &:hover{
        color: #FFFFFF;
        text-decoration: none;
      }
    }

    h1{
      color: #FFFFFF;
      font-weight: bold;
      margin: 0;
      font-size: 40px;
    }

    h2{
      font-size: 20px;
      color: #FFFFFF;
      margin: 0;
    }
  }
    
  .logo{
    text-align: right;

    img{
      max-height: 110px;
    }
  }
}

@media (max-width: 768px) {
  .logo, .content{
    text-align: center;
  }
  
  #slogan{
    display: none;
  }
}

.pathmap{
  font-size: 12px;
  height: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f6f6f6;
  color: gray;
  text-decoration: none;

  a{
    color: rgb(128, 128, 128);
    text-decoration: none;

    &:hover{
      color: rgb(28,111,171);
      text-decoration: underline;
    }
  }
}

.sensorselect{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f6f6f6;

  select{
    height: 100%;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 10px;
  }

  label{
    margin: 0;
    padding: 6px 0;
    margin-bottom: 10px;
  }

  .submit{
    height: 30px;

    input{
      height: 100%;
      margin-bottom: 10px;
    }
  }
}

.menu{
  background-color: #f6f6f6;
  padding-top: 20px;

  .menu-list{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;

    li{
      
      text-align: center;
      display: inline-block;
      height: 35px;
      font-weight: bold;
      padding: 10px;
      color: #CCC;
      cursor: pointer;

      &.active{
        background-color: #FFFFFF;
        color: #000;
        box-shadow: 0px -3px 7px -2px #ccc;
      }
    }
  }
}

