$azul: #142b55;
$vermelho: #D71313;

/* tabela */
$table-header: #142b55;
$table-header-font: #FFFFFF;
$table-leg-med: #D2DCEF;
$table-divider: #4B638D;
$table-line-even: #D2DCEF;
$table-line-odd: #FBFBFB;
$table-border: #E3E6EC;